:root {
    --green: #93c973;
    --lbrown: #d5aa75;
    --brown: #8d7050;
}

.sansserif {
    font-family: "Overpass", Arial, Helvetica, sans-serif !important;
    font-weight: 900 !important;
}

.brownbrown {
    color: var(--lbrown) !important;
}
.greenbrown {
    color: var(--green) !important;
}
.greenbrown:hover, .brownbrown:hover {
    color: var(--brown) !important;
}